/* .ExerciseForm {
    max-width:357px ;
    border: 1px solid red;
    background-color: rgb(146, 146, 146);
    font-size: 1.2rem;
    padding: 1rem; 
    border-radius: 2%;
}
.ExerciseForm form input {
    width: 8rem;
    height: 2px;
}
#Description {
    width: 100%;
    height: 100px;
}
.ExerciseForm form button {
    width: 10rem;
    
} */
.exerciseForm {
    max-width:357px;
    min-height: 100%;
    background-color: #ffffff;
    border: 1px solid red;
  }
.exerciseForm h2 {
    text-align: center;
}
.exerciseForm form select {
    font-weight: bold;
    width: 5rem;
    text-align: center
}
.exerciseForm form label {
    font-weight: bold;
}
.exerciseForm form input {
    margin: 5px;
}
.exerciseForm form #hours,#min {
    width: 5rem;
}
  