.exerciseCard {
    display: flex;
    width: 357px;
    max-height: 836px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
}

p .boldFont {
    font-weight: bold;
}